body {
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    margin: 15px;
    border-radius: 5px;
}

.navbar__links {
    list-style: none;
    display: flex;
}

.navbar__links li {
    letter-spacing: 3px;
    margin: 3rem;
}