.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__previous__page {
    width: 24%;
    margin-bottom: 45px;
    padding: 12px;
    border: none;
    background-color: #AA8B56;
    color: #fff;
    border-radius: 5px;
}

.button__next__page {
    width: 24%;
    margin-bottom: 45px;
    padding: 12px;
    border: none;
    background-color: #AA8B56;
    color: #fff;
    border-radius: 5px;
}