.container {
    display: flex;
}

input {
    background-color: #FFF6BF;
    color: #3B185F;
    border: none;
    padding: 12px;
    margin: 5px;
    border-radius: 25%;
}

input:hover {
    background-color: #FBFACD;
    color: #000;
}

.button__search {
    margin: 5px;
    padding: 12px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
}

.button__search:hover {
    background-color: #fff;
    color: #000;
}