* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  gap: 50px 100px;
  grid-template-columns: 15px 15px 15px 15px;
  padding: 3px;
  justify-content: space-around;
  align-items: center;
}

.characters__column {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 5rem;
}

.characters__images__info {
  justify-content: space-between;
  color: #000;
  border: 1px saddlebrown;
  margin: 10px;
  padding: 3px;
  text-align: center;
}


.characters__info__name {
  font-weight: bold;
  margin-bottom: 15px;
  background-color: #F1D3B3;
  color: #fff;
  border: none;
  padding: 7px;
  border-radius: 3px;
}

.characters__info__origin {
  margin-bottom: 10px
}

.characters__location {
  font-weight: bold;
  margin-top: 15px;
  font-size: 20px;
  color: #000;
  border: 1px solid lightblue;
  background-color: #EF9A53;
  padding: 10px;
  border-radius: 12px;
}

.characters__images__info img {
  border-radius: 15px;
  width: 275px;
}

.characters__info {
  flex-direction: column;
  margin-top: 5px;
  background-color: #AA8B56;
  border-radius: 15px;
  color: #fff;
  transition: 1s all;
}

.characters__info:hover {
  opacity: 80%;
}

.characters__image {
  margin-top: 5px;
  width: 65%;
  text-align: center;
  border-radius: 50%
}