* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}

.characters__row {
    display: flex;
}

.characters__col {
    justify-content: space-around;
    background-color: #3F3B6C;
    color: #fff;
    border: 1px saddlebrown;
    margin: 10px;
    padding: 10px;
}

.characters__info {
    margin-top: 5px;
}

.characters__info h5 {
    z-index: 1;
}