.filters__component {
    
}

.filters__text__center {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 2px;
}

.filters__text__center__clear {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 2px;
    cursor: pointer;
    text-decoration: underline;
}